# **LIST Preperation**

1.  Count the number of occurrence of a specific character in a string

In [22]:
l1 = [1,2,3,4,5]

sum(l1); 

tot = 1

# [tot*+i for i,v in enumerate(l1)]

for i in l1:
    tot *= i

print(tot)

120

5. Write a Python program that accepts some words and counts the number of distinct words. Print the number of distinct words and the number of occurrences of each distinct word according to their appearance.

In [2]:
l1 = ['red', 'green', 'green', 'red', 'orange', 'black', 'red'
      ,'blue', 'black', 'blue']
  
d1 = {}  
for i in l1:
  if i not in d1:
    d1[i] = 0
  d1[i] += 1

for k,v in d1.items():
  print(k, v)

red 3
green 2
orange 1
black 2
blue 2

6. Write a Python program that accepts the number of subjects, subject names and marks. Input the number of subjects and then the subject name and marks separated by a space on the next line. Print the subject name and marks in order of appearance.

In [7]:
nosubj = int(input("Enter number of Subjects - "))

for i in range(0, nosubj):
    namemarks = input("Enter Subject anme and marks---> ").split(" ")
    print(*namemarks)

Bengali 58
English 66
Maths 70

7. Write a Python program to create a deque and append a few elements to the left and right. Next, remove some elements from the left and right sides and reverse the deque.

In [27]:
import collections 


dequecolor = collections.deque(['Red', 'Green', 'White'])

(dequecolor.appendleft('Pink'))
print(*dequecolor)

dequecolor.append('Blue')
print(*dequecolor)

dequecolor.pop()
print(*dequecolor)

dequecolor.popleft()
print(*dequecolor)

Pink Red Green White
Pink Red Green White Blue
Pink Red Green White
Red Green White

7. Remove Duplicates from List

Write a Python program to remove duplicates from a list.

In [156]:
l1 = ['red', 'green', 'green', 'red', 'orange', 'black', 'red' ,'blue', 'black', 'blue']

l1 = list(set(l1)); l1

['green', 'blue', 'red', 'black', 'orange']

11. Check Common Member Between Two Lists

Write a Python function that takes two lists and returns True if they have at least one common member.

In [163]:
l1 = [10,20,40,50]
l2 = [20,30,70,80]

set(l1) & set(l2)

{20}

12. Remove Specific Elements from List

Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [170]:
l = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
[item for idx, item in enumerate(l) if idx not in {0,4,5}]

['Green', 'White', 'Black']

13. Generate 3D Array

Write a Python program to generate a 3* 4 *6 3D array whose each element is *.

In [172]:
import numpy as np

In [173]:
[[['*']*6 for _ in range(4)] for _ in range(3)]

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

14. Remove Even Numbers from List

Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [176]:
l = [2,3,4,5,6,7,8,9,0,10,11,12,13,14,15,16,17,18,19,20]

[i for i in l if i%2==0]

[2, 4, 6, 8, 0, 10, 12, 14, 16, 18, 20]

15. Shuffle List

Write a Python program to shuffle and print a specified list.

In [274]:
from random import shuffle
from random import randint as r

l = [i for i in range(0,r(0,20))]
shuffle(l); l

[9, 11, 4, 7, 0, 1, 2, 6, 3, 10, 8, 5]

21. Convert List to String

Write a Python program to convert a list of characters into a string.

In [279]:
l = ['j', 'a', 'v', 'a']

s = ''.join(l); print(s)

java

22. Find Index of List Item

Write a Python program to find the index of an item in a specified list.

In [280]:
for i,v in enumerate(l):
    print(i, v)

0 j
1 a
2 v
3 a

23. Flatten Shallow List

Write a Python program to flatten a shallow list.

In [285]:
original_list = [[2, 4, 3], [1, 5, 6], [9], [7, 9, 0]]

[item for sublist in original_list for item in sublist]

[2, 4, 3, 1, 5, 6, 9, 7, 9, 0]

24. Append One List to Another

Write a Python program to append a list to the second list.

In [287]:
l = [1,2,2,3,4,4,5,5,4,3,6,5,4]

l.extend([10,10,20,30,40,50,60]); l

[1, 2, 2, 3, 4, 4, 5, 5, 4, 3, 6, 5, 4, 10, 10, 20, 30, 40, 50, 60]

25. Select Random Item from List

Write a Python program to select an item randomly from a list.

In [307]:
from random import choice

choice(l)

50

27. Find Second Smallest Number in List

Write a Python program to find the second smallest number in a list.

In [ ]:
def secondsmallest(lst):
    unique = sorted(set(lst))
    return unique[1] if len(unique)>1 else None

# **Loops**

1. Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [29]:
for i in range(1500, 2701):
    if (i%7==0) & (i %5==0):
        print(i, end = ' ')

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

5. Write a Python program that accepts a word from the user and reverses it.

In [32]:
word = input("Enter a String to see its reversed output ---> ")

print(word[::-1])

tseB eht si hahS yanarP

6. Write a Python program to count the number of even and odd numbers in a series of numbers
Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
Expected Output :
Number of even numbers : 5
Number of odd numbers : 4

In [36]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 

odd = 0
even = 0

for i in numbers:
    if i%2==0:
        even += 1
    else:
        odd += 1

print('Even = ', even)
print('Odd = ', odd)

Even =  4
Odd =  5

7. Write a Python program that prints each item and its corresponding type from the following list.
Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [37]:
datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

for i in datalist:
    print(type(i), end=' ')

<class 'int'> <class 'float'> <class 'complex'> <class 'bool'> <class 'str'> <class 'tuple'> <class 'list'> <class 'dict'>

8. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.
Expected Output : 0 1 2 4 5

In [39]:
for i in range(0,7):
    if i==3 or i==6:
        continue
    print(i, end = ' ')

0 1 2 4 5

9. Write a Python program to get the Fibonacci series between 0 and 50.
Note : The Fibonacci Sequence is the series of numbers :

0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34

In [41]:
x, y = 0, 1

while y<50:
    print(y, end = " ")

    x,y = y, x+y

1 1 2 3 5 8 13 21 34

32. Write a Python program to check whether an alphabet is a vowel or consonant.
Expected Output:

Input a letter of the alphabet: k                                       
k is a consonant.

In [45]:
letter = input("Enter a character --> ")

if letter.lower() not in "aeiou":
    print(letter, " is consonant ")

33. Write a Python program to convert a month name to a number of days.
Expected Output:

List of months: January, February, March, April, May, June, July, August
, September, October, November, December                                
Input the name of Month: February                                       
No. of days: 28/29 days

In [70]:
import calendar
dir(calendar)

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ]
days = calendar.mdays
l={}
for m,d in zip(months, days[1:]):
    l[m]=d
print(l)

inputmonth = input("ENter a monthname ---> ")

if inputmonth in l:
    print(l[inputmonth])

{'January': 31, 'February': 28, 'March': 31, 'April': 30, 'May': 31, 'June': 30, 'July': 31, 'August': 31, 'September': 30, 'October': 31, 'November': 30, 'December': 31}
30

34. Write a Python program to sum two integers. However, if the sum is between 15 and 20 it will return 20.

In [73]:
num1 = int(input("Enter first number --> "))
num2 = int(input("Enter second number  --> "))

if num1+num2 in (range(15,20)):
    print(20) 
else:
    print(num1+num2)

20

44. Write a Python program to construct the following pattern, using a nested loop number.
Expected Output:

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [87]:
for i in range(1,10):
    for j in range(1, i+1):
        print(i, end = ' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

# **Dictionary Assigments**

1. Write a Python script to sort (ascending and descending) a dictionary by value.

In [92]:
import operator as o 

d = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

sorted(d.items(), key=o.itemgetter(1))

[(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]

2. Write a Python script to add a key to a dictionary.

Sample Dictionary : {0: 10, 1: 20}

Expected Result : {0: 10, 1: 20, 2: 30}

In [102]:
s1 = {0: 10, 1: 20}

s1.update({2:10}); print(s1)

{0: 10, 1: 20, 2: 10}

3. Write a Python script to concatenate the following dictionaries to create a new one.

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}

for dic in (dic1, dic2, dic3):
    dic4.update(dic)

print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Write a Python script to check whether a given key already exists in a dictionary.

In [108]:
if 7 in dic4.keys():
    print("Key is present in dictionary")
else:
    print("Key is not present in dictionary")

Key is not present in dictionary

5. Write a Python program to iterate over dictionaries using for loops.

In [116]:
for i in dic4.items():
    print(*i, end = ', ', sep='-')

1-10, 2-20, 3-30, 4-40, 5-50, 6-60,

6. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
Sample Dictionary ( n = 5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [117]:
inputnumber = int(input("Enter number to gets its square in dictionary ---> "))

dict1 = {}

for i in range(inputnumber+1):
    dict1[i] = i*i

print(dict1)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

7. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.
Sample Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [119]:
s1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}


for k,v in s1.items():
    if k in range(1,16):
        if v == k*k:
            print(k, v, " Are Squared values") 
        else:
            print("Value is not square")

1 1  Are Squared values
2 4  Are Squared values
3 9  Are Squared values
4 16  Are Squared values
5 25  Are Squared values
6 36  Are Squared values
7 49  Are Squared values
8 64  Are Squared values
9 81  Are Squared values
10 100  Are Squared values
11 121  Are Squared values
12 144  Are Squared values
13 169  Are Squared values
14 196  Are Squared values
15 225  Are Squared values

8. Write a Python script to merge two Python dictionaries.

In [122]:
d1 = {1:20, 2:40}
d2 = {3:60, 4:80}

(d1.update(d2))
d1

{1: 20, 2: 40, 3: 60, 4: 80}

10. Write a Python program to sum all the items in a dictionary.

In [127]:
sum(d1.values())

200

11. Write a Python program to multiply all the items in a dictionary.

In [131]:
val = 1
for k, v in d1.items():
    val *= v
print(val)

3840000

12. Write a Python program to remove a key from a dictionary.

In [132]:
d1

{1: 20, 2: 40, 3: 60, 4: 80}

In [133]:
del d1[2]; d1

{1: 20, 3: 60, 4: 80}

13. Write a Python program to map two lists into a dictionary.

In [137]:
l1 = ['a','b','c','d','e','f','g']
l2 = [1,2,3,4,5,6,7]

nd1 = {}
for i,j in zip(l1, l2):
    nd1[i]=j

print(nd1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7}

14. Write a Python program to sort a given dictionary by key.

In [138]:
color_dict = {
    'red': '#FF0000',
    'green': '#008000',
    'black': '#000000',
    'white': '#FFFFFF'
}

for key in sorted(color_dict):
    print(key)

black
green
red
white

15. Write a Python program to get the maximum and minimum values of a dictionary.

In [142]:
max(color_dict.values()), min(color_dict.values())

('#FFFFFF', '#000000')

16. Write a Python program to get a dictionary from an object's fields.

17. Write a Python program to remove duplicates from the dictionary.

18. Write a Python program to check if a dictionary is empty or not.

In [145]:
import numpy as np 
l = {}

if not bool(l):
    print("Its Empty")

Its Empty

19. Write a Python program to combine two dictionary by adding values for common keys.
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [152]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

from collections import Counter

d = (Counter(d1) + Counter(d2))

print(d)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

20. Write a  Python program to print all distinct values in a dictionary.
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [155]:
s = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

set(val for dic in s for val in dic.values())

{'S001', 'S002', 'S005', 'S007', 'S009'}