# **W3 Resources Pandas Practice Problems**
- https://www.w3resource.com/python-exercises/pandas/index-data-series.php

## **Pandas Series**

In [1]:
import pandas as pd

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
series = pd.Series([1,2,3,4,5,6,10])
series

0     1
1     2
2     3
3     4
4     5
5     6
6    10
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [3]:
serlist = series.tolist()
serlist

[1, 2, 3, 4, 5, 6, 10]

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [11]:
ser1 = pd.Series([2, 4, 6, 8, 10])
ser2 = pd.Series([1, 3, 5, 7, 9])

print(ser1, ser2)

add = ser1 + ser2;print("\nAdd"); print(add)
sub = ser1-ser2; print("\nSubtract");print(sub)
mul = ser1*ser2; print("\nMultiply");print(mul)
div = ser1/ser2; print("\nDivide");print(div)

0     2
1     4
2     6
3     8
4    10
dtype: int64 0    1
1    3
2    5
3    7
4    9
dtype: int64

Add
0     3
1     7
2    11
3    15
4    19
dtype: int64

Subtract
0    1
1    1
2    1
3    1
4    1
dtype: int64

Multiply
0     2
1    12
2    30
3    56
4    90
dtype: int64

Divide
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [12]:
ser1 == ser2

0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.

Sample Series: 
Original dictionary:

        {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [14]:
dict1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

ser = pd.Series(dict1); ser

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

Sample Series: 
  NumPy array:
  
        [10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [16]:
import numpy as np

arr1 = np.array([10, 20, 30, 40, 50])
print(arr1)
ser1 = pd.Series(arr1); ser1

[10 20 30 40 50]

0    10
1    20
2    30
3    40
4    50
dtype: int32

7. Write a Pandas program to change the data type of given a column or a Series.

In [21]:
ser1 = pd.Series([1,300,'Python','100', 250.3])
print(ser1)
# print(ser1.astype('Int32'))   
ser2 =  pd.to_numeric(ser1, errors='coerce')
ser2

0         1
1       300
2    Python
3       100
4     250.3
dtype: object

0      1.0
1    300.0
2      NaN
3    100.0
4    250.3
dtype: float64

9. Write a Pandas program to convert a given Series to an array.

In [25]:
arr2 = np.array(ser1); print(arr2)

[1 300 'Python' '100' 250.3]

10. Write a Pandas program to convert Series of lists to one Series.

In [31]:
import pandas as pd
lis1 = ['Red', 'Green', 'White']
lis2 = ['Red', 'Black']
lis3 = ['Yellow']

combined = pd.Series(lis1 + lis2 + lis3)

print(combined)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [30]:
ser1 = pd.Series(['Red', 'Green', 'White'],
['Red', 'Black'],
['Yellow'])

# ser1 = pd.Series()
# for i in (lis1, lis2, lis3):
#     ser1.add(i)
# print(ser1)

ser1 = ser1.apply(pd.Series).stack().reset_index(drop = True)
ser1

TypeError: Field elements must be 2- or 3-tuples, got ''Yellow''

## **DataFrame**

1.Write a Pandas program to create a dataframe from a dictionary and display it.
Sample data: 

    {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}

In [32]:
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}); df

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
Sample Python dictionary data and list labels:

        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [35]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, labels);df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

3. Write a Pandas program to display a summary of the basic information about a specified DataFrame and its data.
Sample Python dictionary data and list labels:

        exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
        labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']