# **Interview Questions practice**

### **Writing Fibonacci Series**

In [4]:
fib = [0,1]

for i in range(15):
    fib.append(fib[-1] + fib[-2])

print(', '.join(str(e) for e in fib))

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [6]:
fib = [0,1]
num = int(input("Enter a number to get fibo series:--> "))
for i in range(1, num-1):
    fib.append(fib[-1] +fib[-2])

print(", ".join(str(e) for e in fib))

0, 1, 1, 2, 3, 5, 8

In [16]:
def fiboseries(n):
    fib = [0,1]
    for i in range(n-2):
        fib.append(fib[-1] + fib[-2])
    print(', '.join(str(e) for e in fib))

fiboseries(10)

0, 1, 1, 2, 3, 5, 8, 13, 21, 34

### **Finding the Maximum Number in a List**

In [ ]:
numberList = [15, 85, 135, 89, 1125]

maxnum = numberList[0]
for num in numberList:
    if maxnum < num:
        maxnum = num 

print(maxnum)
max(numberList)

1125

1125

### **Finding the Minimum Number in a List**

In [23]:
numberList = [15, 85, 135, 89, 1125, 2]

minnum = numberList[0]

for num in numberList:
    if minnum > num:
        minnum=num

print(minnum)

2

### **Finding the Middle Element in a List**

In [24]:
numlist = [1,2,3,4,5,6]

midelem = int(len(numlist)/2)

numlist[midelem]

4

### **find the middle element(s) in a list**

In [18]:
numlist = [1,2,3,4,5,6]

mid = int(len(numlist)/2)

if len(numlist)%2 != 0:
    print(numlist[mid])
else:
    print((numlist[mid-1] + numlist[mid])/2)

3.5

### **Converting a List into a String**

In [29]:
list1 = [1,2,3,4,5,6]

print(''.join(str(e) for e in list1))


list2 = ['1','2','3','4','5','6']
print(''.join(list2))

123456
123456

In [23]:
list2 = [45,25,36,14,85,47,69,62,15,65]
stringlist = "".join(str(e) for e in list2)

print(type(stringlist))
print(stringlist)

<class 'str'>
45253614854769621565

### **Adding Two List Elements Together**

In [34]:
l1 = [ 1,2,3,4,5]
l2 = [2,3,4,5,6]

l3 = []
for i in range(0, len(l1)):
    l3.append(l1[i] + l2[i])

print(l3)

[3, 5, 7, 9, 11]

In [28]:
l1 = [ 1,2,3,4,5,6]
l2 = [2,3,4,5,6]

res = list(map(lambda a,b:a+b, l1, l2))
print(res)

[3, 5, 7, 9, 11]

### **Comparing Two Strings for Anagrams**

In [40]:
str1 = 'Note'
str2 = 'Tone'

if sorted(str1.lower())==sorted(str2.lower()):
    print('Anagram')
else:
    print("Not an Anagram")

Anagram

### **Checking for Palindrome Using Extended Slicing Technique**

In [38]:
str1 = 'Pranay'

if (str1 == str1[::-1]):
    print('Palindrome')
else:
    print("Not a Palindrome")

Not a Palindrome

In [60]:
def isPalindrome(s):
    s = s.lower()
    left, right = 0, len(s)-1

    while left < right:
        if s[left] != s[right]:
            return False
        left += 1
        right -= 1
    return True


isPalindrome("pranay")

False

In [77]:
def isPalindorm(s):
    if isinstance(s, int):
        s = str(s)
    s= s.lower()
    left, right = 0, len(s)-1

    while left<right:
        if s[left]!=s[right]:
            return False
        left+=1
        right-=1
    return True

isPalindorm('pap')

True

### **Counting the White Spaces in a String**

In [43]:
string = "    p r a a a"

string.count(" ")

8

### **Counting Digits, Letters, and Spaces in a String**

In [65]:
import re 

name = "pranay is 24 years old"

digitcount = re.sub("[^0-9]","", name)
lettercount = re.sub("[^a-zA-Z]","", name)
spacecount = re.findall("[ ]", name)

print(digitcount)
print(lettercount)
print(len(spacecount))

24
pranayisyearsold
4

### **Counting Special Characters in a String**

In [69]:
string = "C O D E   S"

''.join(e for e in string if e !=" ")

'CODES'

### **Randomizing the Items of a List in Python**

In [82]:
from random import shuffle

lst = ['Pyhton', 'easy', 'is', 'language']

shuffle(lst)
print(lst)

['Pyhton', 'is', 'easy', 'language']

### **Remove Duplicates from a List**

In [101]:
lst = [22,33,44,55,22,55,66,23,43,23,12,21,12,10]

newlst = list(set(lst)); newlst

[33, 66, 10, 43, 44, 12, 23, 21, 22, 55]

### **Factorial of a Number**

In [111]:
def fact(n):
    if n <=0:
        return 1
    return n * fact(n-1)

fact(-5)

1

### **Merge Two Sorted Lists**

In [115]:
def sortedList(l1, l2):
    return sorted(l1+l2)

sortedList([2,3,4], [0,-.5,1,5])

[-0.5, 0, 1, 2, 3, 4, 5]

In [ ]:
li1 = [1,2,3,4,5]
li2 = [1,2,3,4,5]
li1 == li2

(li1) is (li2)

False

### **Find second largest number in list**

In [31]:
nums = [10, 20, 4, 45, 99]

sorted(set(nums))[-2]

45

### **Remove duplicates from a list python without using set**

In [33]:
lst = [1, 2, 2, 3, 4, 4, 5]

newlst = []

for i in lst:
    if i not in newlst:
        newlst.append(i)


print(newlst)

[1, 2, 3, 4, 5]

### **Find common elements in two lists python**

In [37]:
l1, l2 = [1,2,3], [2, 3, 4]

list(set(l1) & set(l2))

[2, 3]

### **Rotate an array by k positions**

In [39]:
arr, k = [1,2,3,4,5], 3
arr[-k:]+arr[:-k]

[3, 4, 5, 1, 2]

### **Find the first non-repeating element in a list python**

In [43]:
lst = [1, 1, 2, 2, 3, 3, 4]


for num in lst:
    if lst.count(num) ==1:
        print(num)
        break

4

### **Find the median of a list**

In [45]:
import statistics
print(statistics.median([1, 3, 3, 7, 8, 9]))

5.0

In [49]:
lst = [1, 3, 3, 7, 8, 9]

mid = int(len(lst)/2)

lst[mid]

(lst[mid-1] + lst[mid])/2

5.0

### **Find duplicates in a list python**

In [52]:
lst = [1, 2, 3, 1, 2, 4]

dupli = []

for i in lst:
    if lst.count(i) >1:
        if i not in dupli:
            dupli.append(i)

print(dupli)

[1, 2]

### **Find all permutations of a string**

In [ ]:
from itertools import permutations
print(["".join(p) for p in permutations("abc")])

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

### **Find the longest common prefix in a list of words**

In [56]:
import os
print(os.path.commonprefix(["flower", "flow", "flight"]))

fl

### **Reverse words in a sentence**

In [81]:
" ".join("Hello World".split()[::-1])

'World Hello'

### **Check if a given year is a leap year python**

In [ ]:
((2024%4==0)and(2024%100==0))or(2024%400==0)

False

# **Comprehensions**

## **List COmprehensions**

In [99]:
[x**2 for x in range(1,12) if x%1==0]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

Nested List Comprehension (Matrix Flattening)

In [101]:
matrix = [[1,2,3],[2,3,4],[3,4,5]]

[num for row in matrix for num in row]

[1, 2, 3, 2, 3, 4, 3, 4, 5]

## **Dictionary COmprehensions**

# **Lambda**

In [102]:
square = lambda x:x**2

square(5)

25

In [103]:
add = lambda a,b:a+b
add(10,10)

20

#### **Using Lambda with Built-in Functions**

Map

In [107]:
num = [1,2,21,21,45,57,5,24]
list(map(lambda x:x**2, num))

[1, 4, 441, 441, 2025, 3249, 25, 576]

Filter

In [109]:
list(filter(lambda x:x%2==0, num))

[2, 24]

Using sorted key

In [113]:
words = ["apple", "banana", "kiwi", "grape"]
sorted(words, key=lambda x:len(x))

['kiwi', 'apple', 'grape', 'banana']

Find the cube of a number

In [115]:
cube = lambda x: x**3
cube(2)

8

 Check if a number is even or odd

In [121]:
is_even = lambda x:"Even" if x%2==0 else "Odd"

is_even(4)

'Even'

Find the maximum of two numbers

In [122]:
max_num = lambda a,b :a if a>b else b
max_num(10,11)

11

Find the sum of two numbers

In [123]:
add = lambda a,b:a+b

add(10,10)

20

Convert a string to uppercase

In [124]:
uppercase = lambda str:str.upper()

uppercase("pranay")

'PRANAY'

Reverse a string

In [125]:
reversestring = lambda string:string[::-1]

reversestring("Pranay")

'yanarP'

Find the length of a string

In [126]:
length = lambda string :len(string)

length("PranayBindeshShah")

17

Multiply a number by 5

In [127]:
mul5 = lambda x:x*5

mul5(10)

50

Convert Celsius to Fahrenheit

In [130]:
to_fahrenhiet = lambda x:(x*9/5)+32

to_fahrenhiet(29)

84.2

Convert Fahrenheit to Celsius

In [131]:
to_celcius = lambda x:(x-32)*5/9

to_celcius(to_fahrenhiet(29))

29.0

Find the absolute difference between two numbers

In [132]:
absdiff = lambda a,b:abs(a-b)

absdiff(2,10)

8

Concatenate two strings

In [133]:
concat = lambda str1, str2:str1+" "+str2

concat("Pranay", "Shah")

'Pranay Shah'

Check if a number is positive, negative, or zero

In [142]:
posnegorzero = lambda x:"Positive" if x>0 else ("Negative" if x<0 else "Zero")

posnegorzero(0)

'Zero'

Return the first character of a string

In [143]:
firstchar = lambda str:str[0]

firstchar("Pranay")

'P'

Sort a list of numbers

In [147]:
l1 = [6,5,4,37,2,4,3,1]

sorted(l1, key = lambda x:x)

[1, 2, 3, 4, 4, 5, 6, 37]

Sort a list of tuples by the second element